html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    color: #222;
}

#almightree-search {
    margin-left: 40px;
    margin-top: 20px;
}

#almightree .highlight {
    background-color: #ff8;
}

#almightree li {
    list-style: none;
}

#almightree .headline li{
    list-style: disc;
}

#almightree .headline ul .node:hover {
    list-style: disc;
    background: #aee;
}

#almightree li.headline > .node {
    font-size: 50px;
}

#almightree li.headline > ul {
    padding-top: 1em;
    padding-left: 3em;
}

#almightree li.crumb > .node {
    color: #888;
    cursor: pointer;
}

#almightree li.crumb > .node:hover {
    color: #333;
}

#almightree li.crumb {
    display: inline !important;
}

#almightree li.crumb > ul {
    display: inline;
    padding: 0;
    margin: 0;
}

#almightree li.crumb > .node:after {
    content: " › ";
}
