#almightree {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 200px;
}

#almightree .headline li li {
    /*margin-left: 40px;*/
}

#almightree .headline li img {
    width: 500px;
}

#almightree .crumb > .node img, #almightree .headline > .node img {
    height: 1em;
}

#almightree .headline > .node .highlight {
    background-color: #ffb;
}

#almightree .headline li .highlight {
    background-color: #ff8;
}

#almightree .zoom {
    display: none;
    cursor: pointer;
}

#almightree .headline .zoom {
    visibility: hidden;
    display: block;
    float: right;
    padding: 3px;
}

#almightree .headline li .node:hover .zoom {
    visibility: visible;
}

#almightree li {
    margin-left: 40px;
}

@media only screen and (max-device-width: 480px) {
    #almightree li {
        margin-left: 20px;
    }
    #almightree {
        margin-left: 20px;
    }
}

#almightree li.crumb, #almightree li.headline, #almightree > ul > li {
    margin-left: 0;
}

#almightree li {
    list-style: none;
}

#almightree .headline li {
    list-style: disc;
}

#almightree .headline li .node {
    margin: 3px 0;
    display: inline-block;
    vertical-align: middle;
}

#almightree .headline li .node .text {
    border-radius: 7px;
    padding: 3px;
    margin-right: 25px;
    display: block;
}

#almightree .headline li.folded > .node .text {
    background: #ccc;
}

#almightree .headline li.foldable > .node .text:hover {
    background: #eee;
    cursor: pointer;
}

#almightree .headline li.folded > .node .text:hover {
    background: #aaa;
}

#almightree li.headline > .node {
    font-size: 30px;
}

#almightree li.headline > ul {
    padding-top: 1em;
    padding-left: 2em;
}

#almightree li.crumb > .node {
    color: #888;
}

#almightree li.crumb > .node .text:hover {
    color: #333;
    cursor: pointer;
}

#almightree li.crumb {
    display: inline !important;
}

#almightree li.crumb > ul {
    display: inline;
    padding: 0;
    margin: 0;
}

#almightree li.crumb > .node:after {
    content: " › ";
}
