@font-face {
    font-family: "Glass TTY VT220";
    src: url("Glass_TTY_VT220.ttf");
}

.highlight { background-color: yellow }

.zoom {
    color: red;
}

/*
ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul .header {
    font-size: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul .header ul {
    font-size: 20px;
}

ul .hidden {
    display: none;
}
ul .hoisted {
    display: list-item;
    margin: 0em 0em 0em 1em;
}
ul .crumb {
}
*/

body {
    color: white;
    background: black;
}

#main {
    font-family: "Glass TTY VT220", "monospace";
    font-size: 20px;
    width: 80ex;
    margin: 0 auto;
}

a:link, a:visited {
    color: #0b0;
}

a:hover {
    color: #0f0;
}
