#thetree li.zoom .highlight {
    background-color: yellow;
}

/*
* {
    margin: 0;
    padding; 0;
}

#thetree .node .zoom {
    color: #666;
}

#thetree li.folded > .node > .zoom {
    color: blue;
}

#thetree li.zoom > .node {
    color: white;
}

#thetree li.crumb > .node > .zoom, #thetree li.zoom > .node > .zoom {
    display: none;
}


li .node .zoom:before {
    content: "○";
}

li.folded .node .zoom:before {
    content: "●";
}

li.crumb {
    color: gray !important;
    display: inline !important;
}

li.crumb:before {
    content: "> ";
}

#thetree > ul > li.crumb:before {
    content: "" !important;
}

#thetree li {
    cursor: pointer;
}

li.crumb > ul {
    display: inline;
    padding: 0;
    margin: 0;
}

li.folded li {
    color: white;
}

li.crumb li {
    color: white;
    display: none;
}

li.zoom {
    display: block !important;
    font-size: 40px;
    padding-top: 0em;
}

li.zoom li {
    font-size: 20px;
}

li {
    list-style: none;
}

li .node {
    cursor: pointer;
}

body {
    color: white;
    background: black;
}

#main {
    font-size: 20px;
}

a:link, a:visited {
    color: #0b0;
}

a:hover {
    color: #0f0;
}

#search {
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#thetree {
    margin-left: 1em;
}
*/
